* {
  font-family: "Oswald", sans-serif;
  color: black;
  background-color: none;
  font-size: large;
}

body {
  background-image: url("LandingPage.jpg");
  background-color: #cccccc;
  background-size: cover;
}

.container {
  float: right;
  margin-top: 500px;
}

.btn-secondary1 {
  background-color: rgba(207, 235, 155, 0.753);
  align-content: center;
}

.profile-img {
  position: relative;
  bottom: 300px;
  right: 100px;
  border: grey;
}

.card12 {
  position: relative;
  right: 200px;
  background-color: rgb(181, 206, 136);
  bottom: 40px;
}

.card11 {
  position: relative;
  background-color: rgb(181, 206, 136);
  bottom: 40px;
}
